- name = "Blog"

!!!5
%html{lang: "ja"}
  %head{prefix: "og: http://ogp.me/ns# website: http://ogp.me/ns/website#"}
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{"http-equiv": "x-dns-prefetch-control", content: "on"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    
    %title= "Tag: |~~ .Title ~~| - " + name + " | " + general.sitename
    %meta{name: "description", content: general.desc}
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: general.twitter}
    %meta{name: "twitter:image", content: "https:"+general.baseurl+"img/favicon.png"}
    %meta{name: "msapplication-TileImage", content: "../img/favicon.png"}
    %meta{name: "msapplication-TileColor", content: general.color}
    %meta{name: "theme-color", content: general.color}
    %meta{property: "og:title", content: "|~~ .Title ~~|"}
    %meta{property: "og:site_name", content: general.sitename}
    %meta{property: "og:description", content: general.desc}
    %meta{property: "og:locale", content: "ja_JP"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "|~~ .Permalink ~~|"}
    %meta{property: "og:image", content: "http:"+general.baseurl+"img/favicon3.png"}
    %meta{property: "og:image:secure_url", content: "https:"+general.baseurl+"img/favicon3.png"}
    
    %script{src: "../../lib/google.js", inline: true}
    
    %link{rel: "dns-prefetch preconnect", href: "//fonts.googleapis.com/"}
    
    %link{rel: "stylesheet", href: "|~~ .Site.Params.hpurl ~~|lib/material.min.css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    
    %link{rel: "icon shortcut mask-icon", sizes: "16x16 32x32 48x48 128x128 256x256", href: "|~~ .Site.Params.hpurl ~~|img/favicon.ico"}
    %link{rel: "apple-touch-icon fluid-icon", href: "|~~ .Site.Params.hpurl ~~|img/favicon.png"}
    %link{rel: "stylesheet", href: "|~~ .Site.Params.hpurl ~~|css/core.css"}
    
    %link{rel: "stylesheet", href: "|~~ .Site.Params.hpurl ~~|lib/dark.css"}
    
    |~~ if .RSSlink ~~|
    %link{href: "|~~ .RSSlink ~~|", rel: "alternate", type: "application/rss+xml", title: "S--Minecraft.github.io"}
    %link{href: "|~~ .RSSlink ~~|", rel: "feed", type: "application/rss+xml", title: "S--Minecraft.github.io"}
    |~~ end ~~|
  %body#blog-content-page
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      -# Header
      %header.mdl-layout__header
        .mdl-layout__header-row
          %span.mdl-layout-title= general.sitename
          .mdl-layout-spacer
          %nav.mdl-navigation.mdl-layout--large-screen-only
            %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|profile/"} Profile
            %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|works/"} Works
            %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|blog/"} Blog
            %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|contact/"} Contact
            %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|links/"} Links
      -# Menu
      .mdl-layout__drawer
        %span.mdl-layout-title= general.sitename
        %nav.mdl-navigation
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|"}
            %i.material-icons.md-18 home
            Top
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|profile/"}
            %i.material-icons.md-18 face
            Profile
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|works/"}
            %i.material-icons.md-18 dashboard
            Works
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|blog/"}
            %i.material-icons.md-18 subject
            Blog
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|contact/"}
            %i.material-icons.md-18 question_answer
            Contact
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|links/"}
            %i.material-icons.md-18 call_split
            Links
      -# Content
      %main.mdl-layout__content
        #content
          #blog-listpage-container.mdl-grid
            #main.mdl-cell.mdl-cell--8-col
              %h2 List of Tag: |~~ .Title ~~|
              -# ページめくり
              .paginator.text-center
                |~~ if .Paginator.HasPrev ~~|
                %a{href: "|~~ .Paginator.Prev.URL ~~|"}
                  %button.mdl-button.mdl-js-button.mdl-js-ripple-effect <-
                |~~ else ~~|
                %button.mdl-button.mdl-js-button.mdl-js-ripple-effect{disabled: true} <-
                |~~ end ~~|
                %span Page |~~ .Paginator.PageNumber ~~|/|~~ .Paginator.TotalPages ~~|
                |~~ if .Paginator.HasNext ~~|
                %a{href: "|~~ .Paginator.Next.URL ~~|"}
                  %button.mdl-button.mdl-js-button.mdl-js-ripple-effect ->
                |~~ else ~~|
                %button.mdl-button.mdl-js-button.mdl-js-ripple-effect{disabled: true} ->
                |~~ end ~~|
              #articles.mdl-grid
                |~~ range .Paginator.Pages ~~|
                .mdl-cell.mdl-cell--4-col.mdl-card.mdl-shadow--3dp
                  .mdl-card__title.mdl-card--expand
                    %h2.h4 |~~ .Title ~~|
                  .mdl-card__supporting-text
                    %p.desc
                      |~~ .Summary ~~|
                    %p.time
                      %time{datetime: "|~~ .Date.Format ~~2006-01-02~~ ~~|"} |~~ .Date.Format ~~2006-01-02~~ ~~|
                  .mdl-card__actions.mdl-card--border
                    %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect{href: "|~~ .Permalink ~~|"} View
                |~~ end ~~|
              -# ページめくり2
              .paginator.text-center
                |~~ if .Paginator.HasPrev ~~|
                %a{href: "|~~ .Paginator.Prev.URL ~~|"}
                  %button.mdl-button.mdl-js-button.mdl-js-ripple-effect <-
                |~~ else ~~|
                %button.mdl-button.mdl-js-button.mdl-js-ripple-effect{disabled: true} <-
                |~~ end ~~|
                %span Page |~~ .Paginator.PageNumber ~~|/|~~ .Paginator.TotalPages ~~|
                |~~ if .Paginator.HasNext ~~|
                %a{href: "|~~ .Paginator.Next.URL ~~|"}
                  %button.mdl-button.mdl-js-button.mdl-js-ripple-effect ->
                |~~ else ~~|
                %button.mdl-button.mdl-js-button.mdl-js-ripple-effect{disabled: true} ->
                |~~ end ~~|
            #side.mdl-cell.mdl-cell--4-col
              %a{href: "|~~ .RSSlink ~~|", type: "application/rss+xml", target: "_blank"}
                .icon.rss
                  %span
              #sections
                %h3
                  %i.material-icons folder
                  書庫一覧
                %ul
                  |~~ range $name, $value := $.Site.Sections ~~|
                  %li
                    %a{href: "|~~ $.Site.BaseURL ~~||~~ $name ~~|"} |~~ $name ~~| (|~~ .Count ~~|)
                  |~~ end ~~|
              #categories
                %h3
                  %i.material-icons class
                  カテゴリ一覧
                %ul
                  |~~ range $name, $value := $.Site.Taxonomies.categories ~~|
                  %li
                    %a{href: "|~~ $.Site.BaseURL ~~|categories/|~~ $name ~~|"} |~~ $name ~~| (|~~ .Count ~~|)
                  |~~ end ~~|
              #tags
                %h3
                  %i.material-icons label
                  タグ一覧
                %ul
                  |~~ range $name, $value := $.Site.Taxonomies.tags ~~|
                  %li
                    %a{href: "|~~ $.Site.BaseURL ~~|tags/|~~ $name ~~|"} |~~ $name ~~| (|~~ .Count ~~|)
                  |~~ end ~~|
        -# Footer
        %footer.mdl-mini-footer
          .mdl-mini-footer__left-section
            %p
              Powered by 
              %a{href: "http://gohugo.io/"} Hugo
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hosted by 
              %a{href: "https://pages.github.com/"} GitHub Pages
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using 
              %a{href: "http://www.getmdl.io/"} Material Design Lite
              \ and 
              %a{href: "https://github.com/S--Minecraft/ShortQuery.js/"} ShortQuery.js
            %p (C) 2015-2016 S__Minecraft
    
    %script{type: "text/javascript", src: "|~~ .Site.Params.hpurl ~~|lib/material.min.js", defer: true, async: true}
