!!!5
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    
    %title Tag: |~~ .Title ~~| - Blog | S--Minecraft
    %meta{name: "description", content: "S__Minecraftのポートフォリオです"}
    
    %link{rel: "stylesheet", href: "|~~ .Site.Params.hpurl ~~|lib/material.min.css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    %script{type: "text/javascript", src: "|~~ .Site.Params.hpurl ~~|lib/material.min.js"}
    
    %link{rel: "icon", sizes: "16x16 32x32 48x48 128x128 256x256", href: "|~~ .Site.Params.hpurl ~~|img/favicon.ico"}
    %link{rel: "stylesheet", href: "|~~ .Site.Params.hpurl ~~|css/core.css"}
    
    %link{rel: "stylesheet", href: "|~~ .Site.Params.hpurl ~~|lib/dark.css"}
    
    |~~ if .RSSlink ~~|
    %link{href: "|~~ .RSSlink ~~|", rel: "alternate", type: "application/rss+xml", title: "S--Minecraft.github.io"}
    %link{href: "|~~ .RSSlink ~~|", rel: "feed", type: "application/rss+xml", title: "S--Minecraft.github.io"}
    |~~ end ~~|
  %body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      -# Header
      %header.mdl-layout__header
        .mdl-layout__header-row
          %span.mdl-layout-title S--Minecraft
          .mdl-layout-spacer
          %nav.mdl-navigation.mdl-layout--large-screen-only
            %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|profile"} Profile
            %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|works"} Works
            %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|blog"} Blog
            %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|contact"} Contact
      -# Menu
      .mdl-layout__drawer
        %span.mdl-layout-title S--Minecraft
        %nav.mdl-navigation
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|"}
            %i.material-icons.md-18 home
            Top
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|profile"}
            %i.material-icons.md-18 face
            Profile
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|works"}
            %i.material-icons.md-18 dashboard
            Works
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|blog"}
            %i.material-icons.md-18 subject
            Blog
          %a.mdl-navigation__link{href: "|~~ .Site.Params.hpurl ~~|contact"}
            %i.material-icons.md-18 question_answer
            Contact
      -# Content
      %main.mdl-layout__content
        #content
          #blog-listpage-container.mdl-grid
            #main.mdl-cell.mdl-cell--8-col
              %h2 List of Tag: |~~ .Title ~~|
              -# ページめくり
              .paginator.text-center
                |~~ if .Paginator.HasPrev ~~|
                %a{href: "|~~ .Paginator.Prev.URL ~~|"}
                  %button.mdl-button.mdl-js-button.mdl-js-ripple-effect <-
                |~~ else ~~|
                %button.mdl-button.mdl-js-button.mdl-js-ripple-effect{disabled: true} <-
                |~~ end ~~|
                %span Page |~~ .Paginator.PageNumber ~~|/|~~ .Paginator.TotalPages ~~|
                |~~ if .Paginator.HasNext ~~|
                %a{href: "|~~ .Paginator.Next.URL ~~|"}
                  %button.mdl-button.mdl-js-button.mdl-js-ripple-effect ->
                |~~ else ~~|
                %button.mdl-button.mdl-js-button.mdl-js-ripple-effect{disabled: true} ->
                |~~ end ~~|
              #articles.mdl-grid
                |~~ range .Paginator.Pages ~~|
                .mdl-cell.mdl-cell--4-col.mdl-card.mdl-shadow--3dp
                  .mdl-card__title.mdl-card--expand
                    %h2.h4 |~~ .Title ~~|
                  .mdl-card__supporting-text
                    %p.desc
                      |~~ .Summary ~~|
                    %p.time
                      %time{datetime: "|~~ .Date.Format ~~2006-01-02~~ ~~|"} |~~ .Date.Format ~~2006-01-02~~ ~~|
                  .mdl-card__actions.mdl-card--border
                    %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect{href: "|~~ .Permalink ~~|"} View
                |~~ end ~~|
              -# ページめくり2
              .paginator.text-center
                |~~ if .Paginator.HasPrev ~~|
                %a{href: "|~~ .Paginator.Prev.URL ~~|"}
                  %button.mdl-button.mdl-js-button.mdl-js-ripple-effect <-
                |~~ else ~~|
                %button.mdl-button.mdl-js-button.mdl-js-ripple-effect{disabled: true} <-
                |~~ end ~~|
                %span Page |~~ .Paginator.PageNumber ~~|/|~~ .Paginator.TotalPages ~~|
                |~~ if .Paginator.HasNext ~~|
                %a{href: "|~~ .Paginator.Next.URL ~~|"}
                  %button.mdl-button.mdl-js-button.mdl-js-ripple-effect ->
                |~~ else ~~|
                %button.mdl-button.mdl-js-button.mdl-js-ripple-effect{disabled: true} ->
                |~~ end ~~|
            #side.mdl-cell.mdl-cell--4-col
              %a{href: "|~~ .RSSlink ~~|", type: "application/rss+xml", target: "_blank"}
                .icon.rss
                  %span
              #sections
                %h3
                  %i.material-icons folder
                  書庫一覧
                %ul
                  |~~ range $name, $value := $.Site.Sections ~~|
                  %li
                    %a{href: "|~~ $.Site.BaseURL ~~||~~ $name ~~|"} |~~ $name ~~| (|~~ .Count ~~|)
                  |~~ end ~~|
              #categories
                %h3
                  %i.material-icons class
                  カテゴリ一覧
                %ul
                  |~~ range $name, $value := $.Site.Taxonomies.categories ~~|
                  %li
                    %a{href: "|~~ $.Site.BaseURL ~~|categories/|~~ $name ~~|"} |~~ $name ~~| (|~~ .Count ~~|)
                  |~~ end ~~|
              #tags
                %h3
                  %i.material-icons label
                  タグ一覧
                %ul
                  |~~ range $name, $value := $.Site.Taxonomies.tags ~~|
                  %li
                    %a{href: "|~~ $.Site.BaseURL ~~|tags/|~~ $name ~~|"} |~~ $name ~~| (|~~ .Count ~~|)
                  |~~ end ~~|
      -# Footer
      %footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          %p
            Powered by 
            %a{href: "http://gohugo.io/"} Hugo
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hosted by 
            %a{href: "https://pages.github.com/"} GitHub Pages
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using 
            %a{href: "http://www.getmdl.io/"} Material Design Lite
            \ and 
            %a{href: "https://github.com/S--Minecraft/ShortQuery.js/"} ShortQuery.js
          %p (C) 2015 S__Minecraft
