!!!5
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    
    %title Contact | S--Minecraft
    %meta{name: "description", content: "S__Minecraftのポートフォリオです"}
    
    %link{rel: "stylesheet", href: "../lib/material.min.css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    
    %link{rel: "icon", sizes: "16x16 32x32 48x48 128x128 256x256", href: "../img/favicon.ico"}
    %link{rel: "stylesheet", href: "../css/core.css"}
  %body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      -# Header
      %header.mdl-layout__header
        .mdl-layout__header-row
          %span.mdl-layout-title S--Minecraft
          .mdl-layout-spacer
          %nav.mdl-navigation.mdl-layout--large-screen-only
            %a.mdl-navigation__link{href: "../profile"} Profile
            %a.mdl-navigation__link{href: "../works"} Works
            %a.mdl-navigation__link{href: "../blog"} Blog
            %a.mdl-navigation__link{href: ""} Contact
            %a.mdl-navigation__link{href: "../links"} Links
      -# Menu
      .mdl-layout__drawer
        %span.mdl-layout-title S--Minecraft
        %nav.mdl-navigation
          %a.mdl-navigation__link{href: "../"}
            %i.material-icons.md-18 home
            Top
          %a.mdl-navigation__link{href: "../profile"}
            %i.material-icons.md-18 face
            Profile
          %a.mdl-navigation__link{href: "../works"}
            %i.material-icons.md-18 dashboard
            Works
          %a.mdl-navigation__link{href: "../blog"}
            %i.material-icons.md-18 subject
            Blog
          %a.mdl-navigation__link{href: ""}
            %i.material-icons.md-18 question_answer
            Contact
          %a.mdl-navigation__link{href: "../links"}
            %i.material-icons.md-18 call_split
            Links
      -# Content
      %main.mdl-layout__content
        #content
          #contact-page-container.mdl-grid
            #form.mdl-cell.mdl-cell--8-col
              .mdl-card.mdl-shadow--3dp
                .mdl-card__title
                  %h2.h4.mdl-card__title-text Contact
                .mdl-card__supporting-text
                  %form#form-main{action: "#"}
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      %input.mdl-textfield__input#name{type: "text", required: true}
                      %label.mdl-textfield__label{for: "name"} Name
                    %br
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      %input.mdl-textfield__input#email{type: "email", required: true}
                      %label.mdl-textfield__label{for: "email"} Email Address
                    %br
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      %input.mdl-textfield__input#title{type: "text", required: true}
                      %label.mdl-textfield__label{for: "title"} Title
                    %br
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      %textarea.mdl-textfield__input#message{type: "text", rows: "5", required: true}
                      %label.mdl-textfield__label{for: "message"} Message
                    %br
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      %input.mdl-textfield__input#url{type: "text", required: true}
                      %label.mdl-textfield__label{for: "url"} Enter this page's url
                    %input#submit.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect{type: "submit"}
                  %p#status
            #details.mdl-cell.mdl-cell--4-col
              .mdl-card.mdl-shadow--3dp
                .mdl-card__title
                  %h2.h4.mdl-card__title-text Details
                .mdl-card__supporting-text
                  %dl
                    %dt Mail
                    %dd
                      %a{href: "mailto:S★mail.minecraft.jp.net"} S★mail.minecraft.jp.net
                      %br
                      (Change ★ to @)
                    %dt Address
                    %dd Inside a gray part of the redstone block
                    %dt Other Contacts
                    %dd
                      Please see the
                      %a{href: "../profile"} Profile
                      \ page
      -# Footer
      %footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          %p
            Powered by 
            %a{href: "http://gohugo.io/"} Hugo
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hosted by 
            %a{href: "https://pages.github.com/"} GitHub Pages
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using 
            %a{href: "http://www.getmdl.io/"} Material Design Lite
            \ and 
            %a{href: "https://github.com/S--Minecraft/ShortQuery.js/"} ShortQuery.js
          %p (C) 2015 S__Minecraft
    
    %script{type: "text/javascript", src: "../lib/material.min.js"}
    %script{type: "text/javascript", src: "../lib/shortQuery.min.js"}
    %script{type: "text/javascript", src: "../js/contact.js"}
