<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<title>Blog | S--Minecraft</title>
<meta name="description" content="S__Minecraftのポートフォリオです"/>
<link rel="stylesheet" href="{{ .Site.Params.hpurl }}lib/material.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<script type="text/javascript" src="{{ .Site.Params.hpurl }}lib/material.min.js"></script>
<link rel="icon" sizes="16x16 32x32 48x48 128x128 256x256" href="{{ .Site.Params.hpurl }}img/favicon.ico"/>
<link rel="stylesheet" href="{{ .Site.Params.hpurl }}css/core.css"/>
<link rel="stylesheet" href="{{ .Site.Params.hpurl }}lib/dark.css"/>{{ if .RSSlink }}
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="S--Minecraft.github.io"/>
<link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="S--Minecraft.github.io"/>{{ end }}</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<header class="mdl-layout__header">
<div class="mdl-layout__header-row">
<span class="mdl-layout-title">S--Minecraft</span>
<div class="mdl-layout-spacer"></div>
<nav class="mdl-navigation mdl-layout--large-screen-only">
<a href="{{ .Site.Params.hpurl }}profile" class="mdl-navigation__link">Profile</a>
<a href="{{ .Site.Params.hpurl }}works" class="mdl-navigation__link">Works</a>
<a class="mdl-navigation__link">Blog</a>
<a href="{{ .Site.Params.hpurl }}contact" class="mdl-navigation__link">Contact</a></nav></div></header>
<div class="mdl-layout__drawer">
<span class="mdl-layout-title">S--Minecraft</span>
<nav class="mdl-navigation">
<a href="{{ .Site.Params.hpurl }}" class="mdl-navigation__link">
<i class="material-icons md-18">home</i>Top</a>
<a href="{{ .Site.Params.hpurl }}profile" class="mdl-navigation__link">
<i class="material-icons md-18">face</i>Profile</a>
<a href="{{ .Site.Params.hpurl }}works" class="mdl-navigation__link">
<i class="material-icons md-18">dashboard</i>Works</a>
<a class="mdl-navigation__link">
<i class="material-icons md-18">subject</i>Blog</a>
<a href="{{ .Site.Params.hpurl }}contact" class="mdl-navigation__link">
<i class="material-icons md-18">question_answer</i>Contact</a></nav></div>
<main class="mdl-layout__content">
<div id="content">
<div id="blog-page-container" class="mdl-grid">
<div id="main" class="mdl-cell mdl-cell--8-col">
<h2>Blog Articles</h2>
<div class="paginator text-center">{{ if .Paginator.HasPrev }}
<a href="{{ .Paginator.Prev.URL }}">
<button class="mdl-button mdl-js-button mdl-js-ripple-effect"><-</button></a>{{ else }}
<button disabled="disabled" class="mdl-button mdl-js-button mdl-js-ripple-effect"><-</button>{{ end }}
<span>Page {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>{{ if .Paginator.HasNext }}
<a href="{{ .Paginator.Next.URL }}">
<button class="mdl-button mdl-js-button mdl-js-ripple-effect">-></button></a>{{ else }}
<button disabled="disabled" class="mdl-button mdl-js-button mdl-js-ripple-effect">-></button>{{ end }}</div>
<div id="articles" class="mdl-grid">{{ range .Paginator.Pages }}
<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--3dp">
<div class="mdl-card__title mdl-card--expand">
<h2 class="h4">{{ .Title }}</h2></div>
<div class="mdl-card__supporting-text">
<p class="desc">{{ .Summary }}</p>
<p class="word">({{ .WordCount }}語)</p>
<p class="time">
<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></p></div>
<div class="mdl-card__actions mdl-card--border">
<a href="{{ .Permalink }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View</a></div></div>{{ end }}</div>
<div class="paginator text-center">{{ if .Paginator.HasPrev }}
<a href="{{ .Paginator.Prev.URL }}">
<button class="mdl-button mdl-js-button mdl-js-ripple-effect"><-</button></a>{{ else }}
<button disabled="disabled" class="mdl-button mdl-js-button mdl-js-ripple-effect"><-</button>{{ end }}
<span>Page {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>{{ if .Paginator.HasNext }}
<a href="{{ .Paginator.Next.URL }}">
<button class="mdl-button mdl-js-button mdl-js-ripple-effect">-></button></a>{{ else }}
<button disabled="disabled" class="mdl-button mdl-js-button mdl-js-ripple-effect">-></button>{{ end }}</div></div>
<div id="side" class="mdl-cell mdl-cell--4-col">
<a href="{{ .RSSlink }}" type="application/rss+xml" target="_blank">
<div class="icon rss">
<span></span></div></a>
<div id="sections">
<h3>
<i class="material-icons">folder</i>書庫一覧</h3>
<ul>{{ range $name, $value := $.Site.Sections }}
<li>
<a href="{{ $.Site.BaseURL }}{{ $name }}">{{ $name }} ({{ .Count }})</a></li>{{ end }}</ul></div>
<div id="categories">
<h3>
<i class="material-icons">class</i>カテゴリ一覧</h3>
<ul>{{ range $name, $value := $.Site.Taxonomies.categories }}
<li>
<a href="{{ $.Site.BaseURL }}categories/{{ $name }}">{{ $name }} ({{ .Count }})</a></li>{{ end }}</ul></div>
<div id="tags">
<h3>
<i class="material-icons">label</i>タグ一覧</h3>
<ul>{{ range $name, $value := $.Site.Taxonomies.tags }}
<li>
<a href="{{ $.Site.BaseURL }}tags/{{ $name }}">{{ $name }} ({{ .Count }})</a></li>{{ end }}</ul></div></div></div></div></main>
<footer class="mdl-mini-footer">
<div class="mdl-mini-footer__left-section">
<p>Powered by
<a href="http://gohugo.io/">Hugo</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hosted by
<a href="https://pages.github.com/">GitHub Pages</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using
<a href="http://www.getmdl.io/">Material Design Lite</a> and
<a href="https://github.com/S--Minecraft/ShortQuery.js/">ShortQuery.js</a></p>
<p>(C) 2015 S__Minecraft</p></div></footer></div>
<script type="text/javascript" src="../lib/shortQuery.min.js"></script>
<script type="text/javascript" src="../js/core.js"></script></body></html>