!!!5
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    
    %title Links | S--Minecraft
    %meta{name: "description", content: "S__Minecraftのポートフォリオです"}
    
    %link{rel: "stylesheet", href: "../lib/material.min.css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    
    %link{rel: "icon", sizes: "16x16 32x32 48x48 128x128 256x256", href: "../img/favicon.ico"}
    %link{rel: "stylesheet", href: "../css/core.css"}
  %body#links-page
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      -# Header
      %header.mdl-layout__header
        .mdl-layout__header-row
          %span.mdl-layout-title S--Minecraft
          .mdl-layout-spacer
          %nav.mdl-navigation.mdl-layout--large-screen-only
            %a.mdl-navigation__link{href: "../profile"} Profile
            %a.mdl-navigation__link{href: "../works"} Works
            %a.mdl-navigation__link{href: "../blog"} Blog
            %a.mdl-navigation__link{href: "../contact"} Contact
            %a.mdl-navigation__link{href: ""} Links
      -# Menu
      .mdl-layout__drawer
        %span.mdl-layout-title S--Minecraft
        %nav.mdl-navigation
          %a.mdl-navigation__link{href: "../"}
            %i.material-icons.md-18 home
            Top
          %a.mdl-navigation__link{href: "../profile"}
            %i.material-icons.md-18 face
            Profile
          %a.mdl-navigation__link{href: "../works"}
            %i.material-icons.md-18 dashboard
            Works
          %a.mdl-navigation__link{href: "../blog"}
            %i.material-icons.md-18 subject
            Blog
          %a.mdl-navigation__link{href: "../contact"}
            %i.material-icons.md-18 question_answer
            Contact
          %a.mdl-navigation__link{href: ""}
            %i.material-icons.md-18 call_split
            Links
      -# Content
      %main.mdl-layout__content
        #content
          #links-page-container.mdl-grid
            .link.mdl-cell.mdl-cell--4-col.md-card.mdl-shadow--3dp
              .mdl-card__title
                %h3 ﾓｸﾞﾓｸﾞ(๑´ㅂ`๑)ﾓｸﾞﾓｸﾞ
              .mdl-card__supporting-text
                %p デザインのプロ。かわいい。
              .twiicon.mdl-shadow--2dp
                %img{src: "http://www.paper-glasses.com/api/twipi/AyaTokikaze/bigger"}
                %p
                  %a{href: "https://twitter.com/AyaTokikaze"} @AyaTokikaze
              .mdl-card__actions.mdl-card--border
                %a{href: "https://ayatk.com/"}
                  %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Go
            .link.mdl-cell.mdl-cell--4-col.md-card.mdl-shadow--3dp
              .mdl-card__title
                %h3 remew.net
              .twiicon.mdl-shadow--2dp
                %img{src: "http://www.paper-glasses.com/api/twipi/_remew_/bigger"}
                %p
                  %a{href: "https://twitter.com/_remew_"} @_remew_
              .mdl-card__supporting-text
                %p ガチプロだし強い。れみゅーん。
              .mdl-card__actions.mdl-card--border
                %a{href: "http://remew.net/"}
                  %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Go
            .link.mdl-cell.mdl-cell--4-col.md-card.mdl-shadow--3dp
              .mdl-card__title
                %h3 snowhite.tk
              .twiicon.mdl-shadow--2dp
                %img{src: "http://www.paper-glasses.com/api/twipi/snowhite0804/bigger"}
                %p
                  %a{href: "https://twitter.com/snowhite0804"} @snowhite0804
              .mdl-card__supporting-text
                %p frainworksのAdminだったり強い。にゃんにゃん(?)。
              .mdl-card__actions.mdl-card--border
                %a{href: "http://snowhite.tk/"}
                  %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Go
            .link.mdl-cell.mdl-cell--4-col.md-card.mdl-shadow--3dp
              .mdl-card__title
                %h3 Elliptic-shiho.xyz
              .twiicon.mdl-shadow--2dp
                %img{src: "http://www.paper-glasses.com/api/twipi/elliptic_shiho/bigger"}
                %p
                  %a{href: "https://twitter.com/elliptic_shiho"} @elliptic_shiho
              .mdl-card__supporting-text
                %p 楕円関数とか暗号の人。強すぎて強すぎて。
              .mdl-card__actions.mdl-card--border
                %a{href: "http://elliptic-shiho.github.io/"}
                  %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Go
      -# Footer
      %footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          %p
            Powered by 
            %a{href: "http://gohugo.io/"} Hugo
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hosted by 
            %a{href: "https://pages.github.com/"} GitHub Pages
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using 
            %a{href: "http://www.getmdl.io/"} Material Design Lite
            \ and 
            %a{href: "https://github.com/S--Minecraft/ShortQuery.js/"} ShortQuery.js
          %p (C) 2015 S__Minecraft
    
    %script{type: "text/javascript", src: "../lib/material.min.js"}
