!!!5
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    
    %title Works | S--Minecraft
    %meta{name: "description", content: "S__Minecraftのポートフォリオです"}
    
    %link{rel: "stylesheet", href: "../lib/material.min.css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    
    %link{rel: "icon", sizes: "16x16 32x32 48x48 128x128 256x256", href: "../img/favicon.ico"}
    %link{rel: "stylesheet", href: "../css/core.css"}
  %body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      -# Header
      %header.mdl-layout__header
        .mdl-layout__header-row
          %span.mdl-layout-title S--Minecraft
          .mdl-layout-spacer
          %nav.mdl-navigation.mdl-layout--large-screen-only
            %a.mdl-navigation__link{href: "../profile"} Profile
            %a.mdl-navigation__link{href: ""} Works
            %a.mdl-navigation__link{href: "../blog"} Blog
            %a.mdl-navigation__link{href: "../contact"} Contact
            %a.mdl-navigation__link{href: "../links"} Links
      -# Menu
      .mdl-layout__drawer
        %span.mdl-layout-title S--Minecraft
        %nav.mdl-navigation
          %a.mdl-navigation__link{href: "../"}
            %i.material-icons.md-18 home
            Top
          %a.mdl-navigation__link{href: "../profile"}
            %i.material-icons.md-18 face
            Profile
          %a.mdl-navigation__link{href: ""}
            %i.material-icons.md-18 dashboard
            Works
          %a.mdl-navigation__link{href: "../blog"}
            %i.material-icons.md-18 subject
            Blog
          %a.mdl-navigation__link{href: "../contact"}
            %i.material-icons.md-18 question_answer
            Contact
          %a.mdl-navigation__link{href: "../links"}
            %i.material-icons.md-18 call_split
            Links
      -# Content
      %main.mdl-layout__content
        #content
          #works-page-container
            #works-tab.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
              #works-tab-bar.mdl-tabs__tab-bar
              #works-panels.mdl-grid
      -# Footer
      %footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          %p
            Powered by 
            %a{href: "http://gohugo.io/"} Hugo
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hosted by 
            %a{href: "https://pages.github.com/"} GitHub Pages
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using 
            %a{href: "http://www.getmdl.io/"} Material Design Lite
            \ and 
            %a{href: "https://github.com/S--Minecraft/ShortQuery.js/"} ShortQuery.js
          %p (C) 2015 S__Minecraft
    
    %script{type: "text/javascript", src: "../lib/material.min.js"}
    %script{type: "text/javascript", src: "../lib/shortQuery.min.js"}
    %script{type: "text/javascript", src: "../js/works.js"}
