!!!5
%html{lang: "ja", prefix: "og: http://ogp.me/ns# website: http://ogp.me/ns/website#""}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{"http-equiv": "x-dns-prefetch-control", content: "on"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    
    %title Works | S--Minecraft
    %meta{name: "description", content: "S__Minecraftのポートフォリオです"}
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: "@S__Minecraft"}
    %meta{name: "twitter:image", content: "https://s.4na.xyz/img/favicon.png"}
    %meta{name: "msapplication-TileImage", content: "../img/favicon.png"}
    %meta{name: "msapplication-TileColor", content: "rgb(97, 56, 175)"}
    %meta{property: "og:title", content: "Works"}
    %meta{property: "og:site_name", content: "S--Minecraft"}
    %meta{property: "og:description", content: "Portfolio of S__Minecraft"}
    %meta{property: "og:locale", content: "ja_JP"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "https://s.4na.xyz/works/"}
    %meta{property: "og:image", content: "http://s.4na.xyz/img/favicon3.png"}
    %meta{property: "og:image:secure_url", content: "https://s.4na.xyz/img/favicon3.png"}
    
    
    %script{src: "../lib/google.js", inline: true}
    
    %link{rel: "dns-prefetch preconnect", href: "//fonts.googleapis.com/"}
    
    %link{rel: "stylesheet", href: "../lib/material.min.css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    
    %link{rel: "icon shortcut mask-icon", sizes: "16x16 32x32 48x48 128x128 256x256", href: "../img/favicon.ico"}
    %link{rel: "apple-touch-icon fluid-icon", href: "../img/favicon.png"}
    %link{rel: "stylesheet", href: "../css/core.css"}
  %body#works-page
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      -# Header
      %header.mdl-layout__header
        .mdl-layout__header-row
          %span.mdl-layout-title S--Minecraft
          .mdl-layout-spacer
          %nav.mdl-navigation.mdl-layout--large-screen-only
            %a.mdl-navigation__link{href: "../profile/"} Profile
            %a.mdl-navigation__link{href: ""} Works
            %a.mdl-navigation__link{href: "../blog/"} Blog
            %a.mdl-navigation__link{href: "../contact/"} Contact
            %a.mdl-navigation__link{href: "../links/"} Links
      -# Menu
      .mdl-layout__drawer
        %span.mdl-layout-title S--Minecraft
        %nav.mdl-navigation
          %a.mdl-navigation__link{href: "../"}
            %i.material-icons.md-18 home
            Top
          %a.mdl-navigation__link{href: "../profile/"}
            %i.material-icons.md-18 face
            Profile
          %a.mdl-navigation__link{href: ""}
            %i.material-icons.md-18 dashboard
            Works
          %a.mdl-navigation__link{href: "../blog/"}
            %i.material-icons.md-18 subject
            Blog
          %a.mdl-navigation__link{href: "../contact/"}
            %i.material-icons.md-18 question_answer
            Contact
          %a.mdl-navigation__link{href: "../links/"}
            %i.material-icons.md-18 call_split
            Links
      -# Content
      %main.mdl-layout__content
        #content
          #works-page-container
            #works-tab.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
              #works-tab-bar.mdl-tabs__tab-bar
                %a#All.mdl-tabs__tab.is-active{href: "#All"} All
                - each tag in allTag
                  %a.mdl-tabs__tab{id: tag, href: "#"+tag}= tag
                %a#Other.mdl-tabs__tab{href: "#Other"} Other
              #works-panels.mdl-grid
                - each work in works
                  %div{class: work.tagsStr+" work mdl-cell mdl-cell--4-col mdl-card mdl-shadow--3dp"}
                    .mdl-card__title
                      %h2.h4.mdl-card__title-text= work.name
                    .mdl-card__supporting-text
                      %p!= work.desc
                    .actions.mdl-card__actions.mdl-card--border
                      .buttons
                        - if (work.dl)
                          %a{href: work.dl}
                            %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Download Page
                        - if (work.github)
                          %a{href: work.github}
                            %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect GitHub
                      %ul.tags
                        - each t in work.tags
                          %li.mdl-shadow--2dp= t
        -# Footer
        %footer.mdl-mini-footer
          .mdl-mini-footer__left-section
            %p
              Powered by 
              %a{href: "http://gohugo.io/"} Hugo
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hosted by 
              %a{href: "https://pages.github.com/"} GitHub Pages
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using 
              %a{href: "http://www.getmdl.io/"} Material Design Lite
              \ and 
              %a{href: "https://github.com/S--Minecraft/ShortQuery.js/"} ShortQuery.js
            %p (C) 2015-2016 S__Minecraft
    
    %script{type: "text/javascript", src: "../lib/material.min.js", defer: true, async: true}
    %script{type: "text/javascript", src: "../lib/shortQuery.min.js", defer: true}
    %script{type: "text/javascript", src: "../js/works.js", defer: true}
