#top-page-container {
  box-sizing: border-box;
  background: url("../img/top-background.png");
}

/*
  Util
*/
//center
.text-center {
  text-align: center;
}
.text-vertical-center {
  display: table-cell;
  vertical-align: middle;
}
.center {
  margin: 0 auto;
}
.vertical-center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
//round
.round {
  border-radius: 2px;
}
//color
.white {
  color: #FFFFFF;
}

