body:not(#top-page) {
  main {
    overflow: visible;
  }
  .mdl-layout {
    height: auto;
    min-height: 100%;
  }
}

footer, .mdl-mini-footer {
  padding: 8px 16px;
  a {
    color: inherit;
  }
  p {
    margin: 0 0 5px;
  }
}

#content {
  .h4 {
    margin: 0;
  }
}

#top-page-container {
  box-sizing: border-box;
  background: url("../img/top-background.png");
  color: #FFFFFF;
  h1 {
    overflow-wrap: break-word;
  }
}

#profile-page-container {
  #profile-card {
    padding: 10px;
    .icon {
      float: right;
    }
  }
  .mdl-progress {
    width: 90%;
  }
  > #enviroment > .mdl-grid {
    padding: 0;
  }
  p, dl {
    padding: 0;
    margin: 0;
  }
  #github {
    min-width: 600px;
  }
}

#works-page-container {
  #works-panels {
    #buttons {
      display: flex;
      flex-direction: row;
      color: #FFFFFF;
    }
    button {
      margin-right: 10px;
    }
    ul {
      margin: 0 10px 10px 0;
    }
    li {
      background: rgba(158,158,158,.2);
      list-style-type: none;
      float: right;
      padding-left: 2px;
      padding-right: 2px;
      margin-left: 5px;
      border-style: none;
      border-color: #666666;
      border-radius: 5px;
    }
  }
  @media (max-width: 549px) {
    .mdl-tabs__tab-bar {
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      height: auto;
    }
  }
}

#contact-page-container {
  #form, #details {
    >.mdl-card {
      width: 100%;

      form > * {
        width: 100%;
      }
      #status {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 800;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        color: #FFFFFF;
        &.success {
          border-color: #333399;
          background: #6666CC;
        }
        &.error {
          border-color: #993333;
          background: #CC6666;
        }
      }
    }
  }
}

#blog-page-container, #blog-listpage-container {
  padding: 5px;
  #main > h2 {
    padding-left: 29px;
  }
  .mdl-card {
    padding: 5px;
    h2 {
      margin: 0;
    }
    p {
      color: #333333;
      margin: 0;
    }
  }
  .word {
    text-align: right;
  }
  .time {
    text-align: right;
  }
  li {
    background: rgba(158,158,158,.2);
    list-style-type: none;
    float: left;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 5px;
    border-radius: 5px;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .icon.rss {
    zoom: 1.5;
    margin: 24px 0 18px 0;
  }
  #sections, #categories, #tags {
    clear: left;
    padding-top: 10px;
    h3 {
      padding-top: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      .material-icons {
        zoom: 1.5;
      }
    }
    ul {
      margin: 0px;
      padding: 0px;
    }
  }
}

#blog-singlepage-container {
  #ribbon {
    width: 100%;
    height: 40vh;
    background: #CCCCCC;
    flex-shrink: 0;
  }
  article {
    margin-top: -35vh;
    flex-shrink: 0;
    padding: 80px 56px;
    .time {
      float: right;
    }
    #data {
      padding-bottom: 20px;
    }
    .content {
      padding-bottom: 20px;
    }
    .prev {
      float: left;
      text-align: left;
    }
    .next {
      float: right;
      text-align: right;
    }
  }
}

#links-page-container {
  .link {
    position: relative;
    h3 {
      width: 75%
    }
    .twiicon {
      position: absolute;
      top: 10%;
      right: 0;
      padding: 5px;
      margin-right: 10px;
      p {
        margin: 0;
      }
      .loading {
        margin: 9px;
      }
    }
  }
}

/*
  Util
*/
//codes
code {
  padding: 3px;
  border-radius: 3px;
  background: #EEEEEE;
}
.highlight {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  pre {
    margin: 0;
    padding: 5px;
    overflow: auto;
  }
}
//header
.h3, .h4 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
}
.h3 {
  font-size: 34px;
  line-height: 40px;
  margin: 24px 0;
}
.h4 {
  font-size: 24px;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin: 24px 0 16px;
}
//center
.text-center {
  text-align: center;
}
.text-vertical-center {
  display: table-cell;
  vertical-align: middle;
}
.center {
  margin: 0 auto;
}
.vertical-center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
//round
.round {
  border-radius: 2px;
}
//hidden
.hidden {
  display: none;
}
