#top-page-container {
  box-sizing: border-box;
  background: url("../img/top-background.png");
}

#profile-page-container {
  #profile-card {
    img {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .icon {
      float: right;
    }
  }
  > * {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    .mdl-progress {
      width: 90%;
    }
  }
  > #enviroment > .mdl-grid {
    padding: 0;
  }
  p, dl {
    padding: 0;
    margin: 0;
  }
}

#works-page-container {
  #works-panels {
    .work {
      padding-left: 5px;
      padding-right: 5px;
    }
    #buttons {
      display: flex;
      flex-direction: row;
      color: #FFFFFF;
    }
    button {
      margin-right: 10px;
    }
    li {
      background: rgba(158,158,158,.2);
      list-style-type: none;
      float: right;
      padding-left: 2px;
      padding-right: 2px;
      margin-left: 5px;
      border-style: none;
      border-color: #666666;
      border-radius: 5px;
    }
  }
}

#contact-page-container {
  #form, #details {
    >.mdl-card {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;

      form > * {
        width: 100%;
      }
      #status {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 800;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        color: #FFFFFF;
        &.success {
          border-color: #333399;
          background: #6666CC;
        }
        &.error {
          border-color: #993333;
          background: #CC6666;
        }
      }
    }
  }
}

/*
  Util
*/
//header
.h3, .h4 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
}
.h3 {
  font-size: 34px;
  line-height: 40px;
  margin: 24px 0;
}
.h4 {
  font-size: 24px;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin: 24px 0 16px;
}
//center
.text-center {
  text-align: center;
}
.text-vertical-center {
  display: table-cell;
  vertical-align: middle;
}
.center {
  margin: 0 auto;
}
.vertical-center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
//round
.round {
  border-radius: 2px;
}
//color
.white {
  color: #FFFFFF;
}
//hidden
.hidden {
  display: none;
}

