@mixin displayflex() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin flex-flow($val) {
  -webkit-flex-flow: $val;
  -ms-flex-flow: $val;
  flex-flow: $val;
}
@mixin flex-direction($val) {
  -webkit-box-direction: $val;
  -ms-flex-direction: $val;
  flex-direction: $val;
}
@mixin flex-vertical() {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex-horizonal() {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@mixin flex-wrap($val) {
  -ms-flex-wrap: $val;
  flex-wrap: $val;
}
@mixin flex-grow($val) {
  -webkit-box-flex: $val;
  -ms-flex-positive: $val;
  flex-grow: $val;
}
@mixin flex-shrink($val) {
  -ms-flex-negative: $val;
  flex-shrink: $val;
}
@mixin align-self($val) {
  -ms-flex-item-align: $val;
  align-self: $val;
}
@mixin align-items($val) {
  -webkit-box-align: $val;
  -ms-flex-align: $val;
  align-items: $val;
}

html, body {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

html {
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  color: rgba(0,0,0,.87);
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  position: absolute;
  height: 100%;
  @include displayflex;
  @include flex-vertical;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

header {
  @include displayflex;
  @include flex-horizonal;
  @include flex-wrap(nowrap);
  @include flex-shrink(0);
  box-sizing: border-box;
  @include align-self(stretch);
  @include align-items(center);
  height: 64px;
  margin: 0;
  padding: 0 40px 0 60px;
  width: 100%;
  border: none;
  z-index: 3;
  background: #3f51b5;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rbga(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: max-height,box-shadow;
  * {
    @include flex-shrink(0);
  }
  .title {
    display: block;
    position: relative;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
  }
  .spacer {
    @include flex-shrink(0);
    @include flex-grow(1);
  }
  nav {
    margin: 0;
    padding: 0;
    height: 64px;
    @include flex-horizonal;
    @include align-items(center);
    @include displayflex;
    @include flex-wrap(nowrap);
    box-sizing: border-box;
    a {
      display: block;
      color: #ffffff;
      line-height: 64px;
      padding: 0 24px;
      text-decoration: none;
      font-weight: 500;
      font-size: 13px;
      margin: 0;
      -webkit-tap-highlight-color: rgba(255,255,255,0);
    }
    @media (max-width: 1024px) {
      a {
        display: none;
      }
    }
  }
}

main {
  -ms-flex: 0 1 auto;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  @include flex-grow(1);
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  background: #eeeeee;
  padding: 20px;
  p {
    color: #666666;
    font-size: 20px;
  }
  h1, h2 {
    color: #555555;
  }
  .spacer {
    margin: 10%;
  }
  @media (min-width: 550px) {
    .mini {
      display: none;
    }
  }
}

footer {
  padding: 8px 16px;
  @include displayflex;
  @include flex-flow(row wrap);
  -webkit-box-pack: justify;
  -ms-flex-pack: jusify;
  justify-content: space between;
  color: #9e9e9e;
  background-color: #424242;
  >left {
    display: inline-block;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  a {
    color: inherit;
  }
}

p {
  font-size: 14px;
  letter-spacing: 0;
  margin: 0 0 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
}

.center {
  text-align: center;
}
