/* --------------- App.net */
.appnet {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_custom_icons_dark.svg) no-repeat;
	span {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background:url(icons/social_custom_icons_dark.svg) no-repeat;
		background-position: -30px 0;
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		-moz-transition:    opacity 0.5s;
		-o-transition:      opacity 0.5s;
	}
	&:hover span {
		opacity: 1;
	}
}

/* --------------- Croudia */
.croudia {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_custom_icons_dark.svg) no-repeat;
	background-position:0 -30px;
	span {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background:url(icons/social_custom_icons_dark.svg) no-repeat;
		background-position: -30px -30px;
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		-moz-transition:    opacity 0.5s;
		-o-transition:      opacity 0.5s;
	}
	&:hover span {
		opacity: 1;
	}
}

/* --------------- Github */
.github {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_custom_icons_dark.svg) no-repeat;
	background-position:0 -60px;
	span {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background:url(icons/social_custom_icons_dark.svg) no-repeat;
		background-position: -30px -60px;
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		-moz-transition:    opacity 0.5s;
		-o-transition:      opacity 0.5s;
	}
	&:hover span {
		opacity: 1;
	}
}

/* --------------- Pixiv */
.pixiv {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_custom_icons_dark.svg) no-repeat;
	background-position:0 -90px;
	span {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background:url(icons/social_custom_icons_dark.svg) no-repeat;
		background-position: -30px -90px;
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		-moz-transition:    opacity 0.5s;
		-o-transition:      opacity 0.5s;
	}
	&:hover span {
		opacity: 1;
	}
}

/* --------------- ask.fm */
.askfm {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_custom_icons_dark.svg) no-repeat;
	background-position:0 -120px;
	span {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background:url(icons/social_custom_icons_dark.svg) no-repeat;
		background-position: -30px -120px;
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		-moz-transition:    opacity 0.5s;
		-o-transition:      opacity 0.5s;
	}
	&:hover span {
		opacity: 1;
	}
}


/* --------------- mail */

.mail {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_custom_icons_dark.svg) no-repeat;
	background-position:0 -150px;
	span {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background:url(icons/social_custom_icons_dark.svg) no-repeat;
		background-position: -30px -150px;
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		-moz-transition:    opacity 0.5s;
		-o-transition:      opacity 0.5s;
	}
	&:hover span {
		opacity: 1;
	}
}
