!!!5
%html{lang: "ja", prefix: "og: http://ogp.me/ns# website: http://ogp.me/ns/website#""}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{"http-equiv": "x-dns-prefetch-control", content: "on"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    
    %title Profile | S--Minecraft
    %meta{name: "description", content: "S__Minecraftのポートフォリオです"}
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: "@S__Minecraft"}
    %meta{name: "twitter:title", content: "Profile"}
    %meta{name: "twitter:description", content: "Portfolio of S__Minecraft"}
    %meta{name: "twitter:image", content: "https://s.4na.xyz/img/favicon.png"}
    %meta{name: "msapplication-TileImage", content: "../img/favicon.png"}
    %meta{name: "msapplication-TileColor", content: "rgb(97, 56, 175)"}
    %meta{property: "og:title", content: "Profile"}
    %meta{property: "og:site_name", content: "S--Minecraft"}
    %meta{property: "og:description", content: "Portfolio of S__Minecraft"}
    %meta{property: "og:locale", content: "ja_JP"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "https://s.4na.xyz/profile/"}
    %meta{property: "og:image", content: "http://s.4na.xyz/img/favicon3.png"}
    %meta{property: "og:image:secure_url", content: "https://s.4na.xyz/img/favicon3.png"}
    
    
    %script{src: "../lib/google.js", inline: true}
    
    %link{rel: "dns-prefetch preconnect", href: "//fonts.googleapis.com/"}
    %link{rel: "dns-prefetch preconnect", href: "//syndication.twitter.com/"}
    %link{rel: "dns-prefetch preconnect", href: "//pbs.twimg.com/"}
    %link{rel: "dns-prefetch preconnect", href: "//assets-cdn.github.com/"}
    
    %link{rel: "stylesheet", href: "../lib/material.min.css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    
    %link{rel: "icon shortcut mask-icon", sizes: "16x16 32x32 48x48 128x128 256x256", href: "../img/favicon.ico"}
    %link{rel: "apple-touch-icon fluid-icon", href: "../img/favicon.png"}
    %link{rel: "stylesheet", href: "../css/core.css"}
    
    %link{rel: "stylesheet", href: "../css/icons.css"}
    %link{rel: "stylesheet", href: "../lib/dark.css"}
  %body#profile-page
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      -# Header
      %header.mdl-layout__header
        .mdl-layout__header-row
          %span.mdl-layout-title S--Minecraft
          .mdl-layout-spacer
          %nav.mdl-navigation.mdl-layout--large-screen-only
            %a.mdl-navigation__link{href: ""} Profile
            %a.mdl-navigation__link{href: "../works/"} Works
            %a.mdl-navigation__link{href: "../blog/"} Blog
            %a.mdl-navigation__link{href: "../contact/"} Contact
            %a.mdl-navigation__link{href: "../links/"} Links
      -# Menu
      .mdl-layout__drawer
        %span.mdl-layout-title S--Minecraft
        %nav.mdl-navigation
          %a.mdl-navigation__link{href: "../"}
            %i.material-icons.md-18 home
            Top
          %a.mdl-navigation__link{href: ""}
            %i.material-icons.md-18 face
            Profile
          %a.mdl-navigation__link{href: "../works/"}
            %i.material-icons.md-18 dashboard
            Works
          %a.mdl-navigation__link{href: "../blog/"}
            %i.material-icons.md-18 subject
            Blog
          %a.mdl-navigation__link{href: "../contact/"}
            %i.material-icons.md-18 question_answer
            Contact
          %a.mdl-navigation__link{href: "../links/"}
            %i.material-icons.md-18 call_split
            Links
      -# Content
      %main.mdl-layout__content
        #content
          #profile-page-container.mdl-grid
            #profile-card.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--3dp.center
              %img.mdl-shadow--3dp.center{src: "../img/favicon.png", height: "256px", width: "256px"}
              %h1.h3.text-center S__Minecraft
              %p.text-center 遠田紫奈 / Susan Minecraft
              #icons
                %a.icon.twitter{title: "Follow me on twitter!", href: "https://twitter.com/S__Minecraft"}
                  %span Twitter
                %a.icon.appnet{title: "Follow me on App.net", href: "https://alpha.app.net/S__Minecraft"}
                  %span App.net
                %a.icon.croudia{title: "Follow me on Croudia", href: "https://croudia.com/S__Minecraft"}
                  %span Croudia
                %a.icon.github{title: "My GitHub", href: "https://github.com/S--Minecraft"}
                  %span Github
                %a.icon.qiita{title: "My Qiita", href: "http://qiita.com/S__Minecraft"}
                  %span Qiita
                %a.icon.pixiv{title: "My Pixiv", href: "http://www.pixiv.net/member.php?id=12127789"}
                  %span Pixiv
                %a.icon.googleplus{title: "My Google+", href: "https://plus.google.com/114530478254597655531/posts"}
                  %span Google+
                %a.icon.askfm{title: "Ask me a question on Ask.fm", href: "http://ask.fm/S__Minecraft"}
                  %span Ask.fm
                %a.icon.skype{title: "My Skype", href: "Skype:live:b0b2bbb43ce50178?add"}
                  %span Skype
                %a.icon.mail{title: "My Email (Change ★ to @)", href: "mailto:S★mail.minecraft.jp.net"}
                  %span Mail
            #programming.mdl-cell.mdl-cell--4-col.md-card.mdl-shadow--3dp
              .mdl-card__title
                %h2.mdl-card__title-text.h4 Programming Languages
              .mdl-card__supporting-text
                %dl
                  %dt Coffeescript
                  %dd
                    #Coffee.mdl-progress.mdl-js-progress
                  %dt Javascript
                  %dd
                    #Javascript.mdl-progress.mdl-js-progress
                  %dt Go
                  %dd
                    #Go.mdl-progress.mdl-js-progress
                  %dt Java
                  %dd
                    #Java.mdl-progress.mdl-js-progress
                  %dt Swift
                  %dd
                    #Swift.mdl-progress.mdl-js-progress
                  %dt Typescript
                  %dd
                    #Typescript.mdl-progress.mdl-js-progress
                  %dt C#
                  %dd
                    #CS.mdl-progress.mdl-js-progress
                  %dt C/C++
                  %dd
                    #C.mdl-progress.mdl-js-progress
                  %dt Haskell
                  %dd
                    #Haskell.mdl-progress.mdl-js-progress.mdl-progress__indeterminate
            #markup.mdl-cell.mdl-cell--4-col.md-card.mdl-shadow--3dp
              .mdl-card__title
                %h2.h4.mdl-card__title-text Markup Languages
              .mdl-card__supporting-text
                %dl
                  %dt HTML/CSS
                  %dd
                    #HTML.mdl-progress.mdl-js-progress
                  %dt Haml
                  %dd
                    #Haml.mdl-progress.mdl-js-progress
                  %dt SCSS
                  %dd
                    #SCSS.mdl-progress.mdl-js-progress
            #enviroment.mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.md-card.mdl-shadow--3dp
              .mdl-card__title
                %h2.h4.mdl-card__title-text Enviroment
              .mdl-card__supporting-text
                %p Only major ones I use.
                .mdl-grid
                  .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet
                    %dl
                      %dt OS
                      %dd Windows 8.1
                      %dt Video Editing
                      %dd AviUtl
                      %dt Image Editing
                      %dd krita
                      %dd JTrim
                      %dd pixia
                      %dd paint
                  .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet
                    %dl
                      %dt Text Editing
                      %dd Mery
                      %dt IDE
                      %dd Eclipse
                      %dd Visual Studio
            #twitter.mdl-cell.mdl-cell--6-col.md-card.mdl-shadow--3dp
              .mdl-card__title
                %h2.h4.mdl-card__title-text Twitter
              .mdl-card__supporting-text
                -# #twitter-timeline
                %a.twitter-timeline{href: "https://twitter.com/S__Minecraft", "data-widget-id": "679237762432675841"} @S__Minecraftさんのツイート
                :javascript
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            #github.mdl-cell.mdl-cell--6-col.md-card.mdl-shadow--3dp
              .mdl-card__title
                %h2.h4.mdl-card__title-text GitHub
              .mdl-card__supporting-text
                .github-card{"data-user": "S--Minecraft", "data-theme": "medium"}
                %script{src: "//cdn.jsdelivr.net/github-cards/latest/widget.js", defer: true, async: true}
        -# Footer
        %footer.mdl-mini-footer
          .mdl-mini-footer__left-section
            %p
              Powered by 
              %a{href: "http://gohugo.io/"} Hugo
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hosted by 
              %a{href: "https://pages.github.com/"} GitHub Pages
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using 
              %a{href: "http://www.getmdl.io/"} Material Design Lite
              \ and 
              %a{href: "https://github.com/S--Minecraft/ShortQuery.js/"} ShortQuery.js
            %p (C) 2015-2016 S__Minecraft
    
    %script{type: "text/javascript", src: "../lib/material.min.js", defer: true, async: true}
    %script{type: "text/javascript", src: "../lib/shortQuery.min.js", defer: true}
    %script{type: "text/javascript", src: "../js/profile.js", defer: true}
