!!!5
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    
    %title 404 | S--Minecraft
    %meta{name: "description", content: "S__Minecraftのポートフォリオです"}
    
    %link{rel: "icon", sizes: "16x16 32x32 48x48 128x128 256x256", href: "img/favicon.ico"}
    %link{rel: "stylesheet", href: "css/error.css", inline: true}
  %body
    %header
      %span.title S--Minecraft
      .spacer
      %nav
        %a{href: "http://s--minecraft.github.io/profile/"} Profile
        %a{href: "http://s--minecraft.github.io/works/"} Works
        %a{href: "http://s--minecraft.github.io/blog/"} Blog
        %a{href: "http://s--minecraft.github.io/contact/"} Contact
    %main
      .svg{style: "margin: 0 auto;width: 100px;"}
        %svg{x: "0px", y: "0px", viewBox: "0 0 512 512",  width: "100px", height: "100px"}
          %polygon{style: "fill: #4B4B4B;", points: "511.997,112.534 399.463,0 255.998,143.47 112.528,0 0.003,112.545 143.463,256.004 0.003,399.464    112.528,512 255.998,368.539 399.463,512 511.997,399.464 368.538,256.004  "}
      -# xml:space="preserve"
      %h1.center 404 ERROR
      %h2.center Page not found
      %p.center
        ここのページ？そんなのなかった
        %br%br
        %a{href: "http://s--minecraft.github.io/"}トップ
        %br
        %a{href: "http://s--minecraft.github.io/", onclick:"javascript:window.history.back(-1);return false;"}戻る
        %br
        %br%br
        ほかのページ
        %br
        %a{href: "http://s--minecraft.github.io/profile/"} Profile
        %br
        %a{href: "http://s--minecraft.github.io/works/"} Works
        %br
        %a{href: "http://s--minecraft.github.io/blog/"} Blog
        %br
        %a{href: "http://s--minecraft.github.io/contact/"} Contact
    %footer
      .left
        %p (C) 2015 S__Minecraft
