!!!5
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    
    %meta{name: "theme-color", content: "rgb(97, 56, 175)"}
    
    %title= name+" | S--Minecraft"
    %meta{name: "description", content: "S__Minecraftのポートフォリオです"}
    
    %link{rel: "icon shortcut mask-icon", type: "image/x-icon", href: "img/favicon2.ico", inline: true}
    %link{rel: "stylesheet", href: "css/error.css", inline: true}
  %body
    %header
      %span.title S--Minecraft
      .spacer
      %nav
        %a{href: "http://s--minecraft.github.io/profile/"} Profile
        %a{href: "http://s--minecraft.github.io/works/"} Works
        %a{href: "http://s--minecraft.github.io/blog/"} Blog
        %a{href: "http://s--minecraft.github.io/contact/"} Contact
    %main
      .svg{style: "margin: 0 auto;width: 100px;"}
        %img{src: "img/cross.svg", inline: "true"}
      %h1.center= name+" ERROR"
      %h2.center= enDesc
      %p.center= jaDesc
      .spacer
      %p.center
        %a{href: "http://s--minecraft.github.io/"}トップ
        %br
        %a{href: "http://s--minecraft.github.io/", onclick:"javascript:window.history.back(-1);return false;"}前のページに戻る
      .spacer.mini
      %p.center.mini
        %a{href: "http://s--minecraft.github.io/profile/"} Profile
        \ | 
        %a{href: "http://s--minecraft.github.io/works/"} Works
        \ | 
        %a{href: "http://s--minecraft.github.io/blog/"} Blog
        \ | 
        %a{href: "http://s--minecraft.github.io/contact/"} Contact
    %footer
      .left
        %p
          Powered by 
          %a{href: "http://gohugo.io/"} Hugo
          \ Hosted by 
          %a{href: "https://pages.github.com/"} GitHub Pages
          \ Using 
          %a{href: "http://www.getmdl.io/"} Material Design Lite
          \ and 
          %a{href: "https://github.com/S--Minecraft/ShortQuery.js/"} ShortQuery.js
        %p (C) 2015-2016 S__Minecraft
